GOOGLE_OAUTH_CLIENT_ID="GOOGLE OAUTH CLIENT ID"
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER="test@gmail.com"
EMAIL_HOST_PASSWORD=email_host_password
DEFAULT_FROM_EMAIL = "My App <test@gmail.com>"
DJANGO_SECRET_KEY=DJANGO_SECRET_KEY
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=['localhost', '0.0.0.0']