{% extends "mysite/base.html" %}

{% block feature %}
<div class="container d-flex flex-column feature-section">
    <div class="flex-grow-1">
        <div class="d-flex flex-row align-items-center justify-content-between bg-dark bg-gradient bg-opacity-75 rounded-4 shadow-lg py-4 px-3 my-4">
            <span class="ms-3">
                <i class="fa fa-calendar-check display-4 text-success"></i>
            </span>
            <div>
                <h1 class="fw-bold text-white text-center mb-1" style="font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif;">
                    Event Invites
                </h1>
                <div class="text-success text-center fs-5 fst-italic">Your past an present event invitations</div>
            </div>
            <span class="me-3">
                <i class="fa fa-calendar-check display-4 text-success"></i>
            </span>
        </div>

        {% if eventinvite_list %}

            <div id="pending-section">
                <h3>Pending Invitations</h3>
                {% if pending_invites %}
                    <div class="row g-4">
                        {% for invite in pending_invites %}
                            <div class="col-12">
                                <div class="card bg-dark text-white shadow-sm rounded-4">
                                    <div class="card-body">
                                        <h4 class="card-title mb-2">
                                            <i class="fa fa-envelope me-2 text-success"></i>
                                            <a href="{% url 'xmas_lists:eventinvite-update' invite.id %}" class="link-light text-decoration-underline-hover">{{ invite }}</a>
                                        </h4>
                                        <span><i>{{ invite.event.event_owner.first_name }} {{ invite.event.event_owner.last_name }}</i> has invited you to participate in this event.</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>There are no pending invitations</p>
                {% endif %}
            </div>

            <div id="accepted-section">
                <h3>Accepted Invitations</h3>
                {% if accepted_invites %}
                    <div class="row g-4">
                        {% for invite in accepted_invites %}
                            <div class="col-12">
                                <div class="card bg-dark text-white shadow-sm rounded-4">
                                    <div class="card-body">
                                        <h4 class="card-title mb-2">
                                            <i class="fa fa-envelope me-2 text-success"></i>
                                            <span class="link-light text-decoration-underline-hover">{{ invite }}</span>
                                        </h4>
                                        <span class="text-success">You have accepted this invitation</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>There are no accepted invitations</p>
                {% endif %}
            </div>

            <div id="declined-section">
                <h3>Declined Invitations</h3>
                {% if declined_invites %}
                    <div class="row g-4">
                        {% for invite in declined_invites %}
                            <div class="col-12">
                                <div class="card bg-dark text-white shadow-sm rounded-4">
                                    <div class="card-body">
                                        <h4 class="card-title mb-2">
                                            <i class="fa fa-envelope me-2 text-success"></i>
                                            <span class="link-light text-decoration-underline-hover">{{ invite }}</span>
                                        </h4>
                                        <span class="text-danger">You have declined this invitation</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>There are no declined invitations</p>
                {% endif %}
            </div>

        {% else %}
                <h3 class="text-center mt-4">You don't have any invites</h3>

        {% endif %}

    </div>
</div>
{% endblock feature %}

{% block invites_nav %}
    <ul class="list-unstyled ms-4">
        <li>
            <button class="list-group-item list-group-item-action bg-transparent fw-bold" onclick="showSection('pending')">
            <i class="fa fa-clock me-2"></i>Pending Invitations</button>
        </li>
        <li>
            <button class="list-group-item list-group-item-action bg-transparent fw-bold" onclick="showSection('accepted')">
            <i class="fa fa-check-circle me-2"></i>Accepted Invitations</button>
        </li>
        <li>
            <button class="list-group-item list-group-item-action bg-transparent fw-bold" onclick="showSection('declined')">
            <i class="fa fa-times-circle me-2"></i>Declined Invitations</button>
        </li>
    </ul>

    <script>
        function showSection(section) {
            $('#pending-section').toggle(section === 'pending');
            $('#accepted-section').toggle(section === 'accepted');
            $('#declined-section').toggle(section === 'declined');
        }

        $(document).ready(function() {
            $('#pending-section').show();
            $('#accepted-section').hide();
            $('#declined-section').hide();
        })

    </script>

{% endblock invites_nav %}