{% extends "mysite/base.html" %}

{% block feature %}
<div class="container d-flex flex-column feature-section">
    <div class="flex-grow-1">
        <h1 class="title-section">List Detail View</h1>

        <ul class="xmas-list-list">
            
            {% if list.listitem_set.all %}

                <table class="table table-dark table-striped table-bordered rounded shadow-sm align-middle">
                    <tr>
                        <td>Item</td>
                        <td>URL</td>
                    </tr>
                    {% for item in list.listitem_set.all %}
                    <tr>
                        <td>{{ item.title }}</td>
                        <td><a href="{{ item.url }}">{{ item.url }}</a></td>
                    </tr>    
                    {% endfor %}
                </table>

            {% endif %}
        
        </ul>

    </div>
</div>
{% endblock feature %}