{% extends "mysite/base.html" %}

{% block feature %}
<div class="container d-flex flex-column feature-section">
    <div class="flex-grow-1">
        <h1 class="title-section">{{ list }}</h1>

        <ul class="xmas-list-list">
            
            {% if list.listitem_set.all %}

                <table class="table table-dark table-striped table-bordered rounded shadow-sm align-middle">
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Priority</th>
                    </tr>
                    {% for item in list.listitem_set.all %}
                    <tr>
                        <td>
                            {% if item.url %}
                                <a href="{{ item.url }}">{{ item.title }}</a>
                            {% else %}
                                {{ item.title }}
                            {% endif %}
                        </td>
                        <td>${{ item.price }}</td>
                        <td>{{ item.get_priority_display }}</td>
                    </tr>    
                    {% endfor %}
                </table>
                {% if is_owner %}
                    <a href="">Manage List</a>
                {% endif %}
            {% endif %}
        
        </ul>

    </div>
</div>
{% endblock feature %}