{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giftify</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mysite/css/styles.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body class="min-vh-100">

    {% block navbar %}
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Giftify</a>
            <div>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="login-link">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}?next={{ request.path }}" class="login-link">Login</a>
                {% endif %}
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </nav>
    {% endblock navbar %}

    {% block main_content %}
    <div class="container-fluid d-flex flex-column main-content">
        <div class="row flex-grow-1">
            <div class="container col-9">
                {% block feature %}{% endblock feature %}
            </div>
            <div class="col-3 other-side d-flex flex-column">
                {% block site_contents %}
                    <div class="container title-section flex-grow-1">
                        <div class="h1">Site Contents</div>
                        <ul class="list-group">
                            <li class="list-group-item bg-transparent border-0 p-0">
                                <a href="{% url 'xmas_lists:event-list' %}">View Events</a>
                            </li>
                        </ul>
                    </div>
                {% endblock site_contents %}
            </div>
        </div>
    </div>
    {% endblock main_content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>