{% extends "mysite/base.html" %}

{% block main_content %}
<div class="container-fluid min-vh-100 d-flex flex-column">
    <div class="row flex-grow-1">
        <div class="col-9">
            <div class="container title-section">
                <h1>Welcome to the Xmas List App!</h1>
                <p>This is the home page.</p>
                <p>Logged-in User: {{ user.fullname }}</p>
            </div>
            <div class="container list-section">
                <h2>Your Xmas List</h2>
                <table class="table table-bordered">
                    <tr>
                        <th>Item</th>
                        <th>Link</th>
                    </tr>
                    {% with user.list_set.all|first as first_item %}
                        {% for item in first_item.listitem_set.all %}
                            <tr>
                                <td>{{ item.title }}</td>
                                <td><a href="#">{{ item.url }}</a></td>
                            </tr>
                        {% endfor %}
                    {% endwith %}
                </table>
            </div>
        </div>
        <div class="col-3 other-side">
            <div class="container title-section">
                <h1>Other Side</h1>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
