:root {
    --bs-primary: #ee0000;
    --bs-background-primary: #333333;
    --bs-background-secondary: #444444;
    --bs-border-primary: #555555;
}

body {
    background-color: var(--bs-background-primary);
    color: white;
}

.navbar {
    background-color: var(--bs-background-primary);
    border-color: var(--bs-border-primary);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.title-section {
    margin-top: 20px;
}

.other-side {
    background-color: var(--bs-background-secondary);
    border-left: 1px solid var(--bs-border-primary);
    padding-left: 15px;
}